.profile__edit-btn {
  background-color: black;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px;
  transition: opacity 0.5s ease;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.profile__edit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
