.header__logo {
  color: #ffffff;
  width: 142px;
  height: 33px;
  transition: opacity 0.5s ease;
}

.header__logo:hover {
  opacity: 0.1;
}

@media screen and (max-width: 880px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
